#java-editor, #python-editor { 
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}
#button-loader{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 998;
    background-color: rgba(29, 29, 29, 0.7);
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
#status-text{
    display: none;
    text-align: center;
    justify-content: center;
    width: 100%;
}
#python-editor{
    z-index: 1;
}
#java-editor{
    z-index: 3;
}
#language-select{
    z-index: 4;
}
.problem-list-entry{
    cursor: pointer;
}
.editor-wrapper{
    height: 80vh; 
    width: 45vw;
    position: relative;
    top: 0;
    left:0;
}
.editor-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: white;
    z-index: 2;
}
.loading-div{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loading-spinner{
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: 10px solid black;
    border-top-color:  transparent;
    animation: spin 1s linear infinite;
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#editor-container{
    position: relative;
}
#language-select{
    position: absolute;
    right: 1vw;
    top: 1vh;
}
#save-button{
    position: absolute;
    bottom: 10vh;
    right: 1vw;
    z-index: 4;
}
#top{
    height: 15vh;
    width: 100vw;
    text-align: center;
}
#bottom{
    height: 85vh;
    width: 100vw;
    display: flex;
}
#bottom-left, #bottom-right{
    height: 100%;
    width:50%;
    display:flex;
    justify-content: center;
}
#spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border don't affect height/width */
  }

.run-buttons{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    padding: 15px;
}

  .button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
  }

  /* Specific button colors */
  .test-button {
    background-color: #4CAF50; /* Green */
  }

  .submit-button {
    background-color: #2196F3; /* Blue */
  }
  .button-loading-div{
    background-color: rgba(167, 167, 167, 0.8);
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


#popup {
    display: block; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

iframe {
    width: 100%;
    height: 90%;
    border: none;
}

#rankingsButton {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    margin-bottom: 10px;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #d6d6e7;
        transform: translateY(2px);
    }
    
}


#closeButton {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    margin-bottom: 10px;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #d6d6e7;
        transform: translateY(2px);
    }
    
}

